.home-hero {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
    box-sizing: border-box;

    @media (max-width: 992px) {
        height: 100%;
    }

    &-container {
        color: #fff;
    }
    
    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }
    
    &-col:nth-child(1) {
        width: 50%;
        padding: 4rem;
        margin-right: 2rem;
        box-sizing: border-box;

        @media (max-width: 992px) {
            width: 100%;
            margin: 0;
        }

        .home-hero-text-wrapper {

            @media (max-width: 992px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .home-hero-heading {
                font-size: 2rem;
                color: #f00946;
                font-weight: 700;
                margin-bottom: 3rem;
                text-transform: uppercase;
    
                @media (max-width: 1200px) {
                    font-size: 1.8rem;
                }

                @media (max-width: 768px) {
                    font-size: 1.6rem;
                }

                @media (max-width: 576px) {
                    font-size: 1.2rem;
                }
            }
    
            .home-hero-subheading {
                font-size: 4.4rem;
                margin-bottom: 3rem;
                font-weight: 900;
    
                @media (max-width: 1200px) {
                    font-size: 4.2rem;
                }

                @media (max-width: 768px) {
                    font-size: 4rem;
                }

                @media (max-width: 576px) {
                    font-size: 3.6rem;
                }
            }
    
            .home-hero-description {
                font-size: 2rem;
                line-height: 1.2;
                margin-bottom: 3rem;
    
                @media (max-width: 1200px) {
                    font-size: 1.8rem;
                }

                @media (max-width: 768px) {
                    font-size: 1.6rem;
                }

                @media (max-width: 576px) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    &-col:nth-child(2) {
        width: 50%;
        padding: 4rem;
        margin-left: 2rem;
        box-sizing: border-box;

        @media (max-width: 992px) {
            width: 100%;
            margin: 0;
        }

        .home-hero-img-wrapper {
            display: flex;
            justify-content: flex-end;

            @media (max-width: 992px) {
                justify-content: center;
            }

            .home-hero-img {
                min-width: 300px;
                width: 100%;

                @media (max-width: 992px) {
                    width: 50%;
                }
            }
        }
    }
}

.darkBg {
    background-color: #1c2237;
}

.dark {
    color: #1c2237;
}