.home-hero {
    width: 100%;
    min-height: 90vh;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 6rem;
    box-sizing: border-box;

    @media (max-width: 992px) {
        padding: 6rem 2rem;
    }

    &-container {
        color: #fff;

        .home-hero-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

        .home-hero-row:nth-child(2) {
            flex-direction: row-reverse;
        }

            .home-hero-col {
                width: 45%;
                padding: 3rem;
                box-sizing: border-box;
                margin: 0 2rem;
        
                @media (max-width: 992px) {
                    width: 100%;
                    margin: 0;
                }
        
                .home-hero-text-wrapper {
        
                    @media (max-width: 992px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                    }
        
                    .home-hero-heading {
                        font-size: 2rem;
                        color: #f00946;
                        font-weight: 700;
                        margin-bottom: 3rem;
                        text-transform: uppercase;
            
                        @media (max-width: 1200px) {
                            font-size: 1.8rem;
                        }
        
                        @media (max-width: 768px) {
                            font-size: 1.6rem;
                        }
        
                        @media (max-width: 576px) {
                            font-size: 1.4rem;
                        }
                    }
            
                    .home-hero-subheading {
                        font-size: 4rem;
                        margin-bottom: 3rem;
                        font-weight: 700;
            
                        @media (max-width: 1200px) {
                            font-size: 3.8rem;
                        }
        
                        @media (max-width: 768px) {
                            font-size: 3.6rem;
                        }
        
                        @media (max-width: 576px) {
                            font-size: 3rem;
                        }
                    }
            
                    .home-hero-description {
                        font-size: 2rem;
                        line-height: 1.2;
                        margin-bottom: 4rem;
            
                        @media (max-width: 1200px) {
                            font-size: 1.8rem;
                        }
        
                        @media (max-width: 768px) {
                            font-size: 1.6rem;
                        }
        
                        @media (max-width: 576px) {
                            font-size: 1.4rem;
                        }
                    }
                }
                
                .home-hero-img-wrapper {
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
        
                    @media (max-width: 992px) {
                        justify-content: center;
                    }
        
                    .home-hero-img {
                        max-width: 100%;
                        min-width: 200px;
        
                        @media (max-width: 992px) {
                            width: 50%;
                        }
                    }
                }
            }
        }
    } 
}

.darkBg {
    background-color: #1c2237;
}

.dark {
    color: #1c2237;
}