.navbar {
    width: 100%;
    height: 10vh;
    background-color: #1c2237;
    position: sticky;
    top: 0;
    z-index: 999;

    &-container {
        width: 100%;
        height: 10vh;
        padding: 1rem 4rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            padding: 1rem 2rem;
        }

        .navbar-logo {
            display: flex;
            align-items: center;

            &-icon {
                display: flex;
                align-items: center;
                color: #fff;
                font-size: 4rem;
                margin-right: 1rem;

                @media (max-width: 768px) {
                    font-size: 3.4rem;
                }

                @media (max-width: 576px) {
                    font-size: 2.8rem;
                }
            }

            &-text {
                font-family: 'Recursive', sans-serif;
                color: #fff;
                text-decoration: none;
                font-size: 4.6rem;
                font-weight: 300;

                @media (max-width: 768px) {
                    font-size: 3.8rem;
                }

                @media (max-width: 576px) {
                    font-size: 3.2rem;
                }
            }
        }

        .navbar-list {
            display: flex;
            align-items: center;

            @media (max-width: 992px) {
                position: absolute;
                top: 10vh;
                left: -100%;
                width: 100%;
                height: 90vh;
                background-color: #1c2237;
                transition: all .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
                flex-direction: column;
                justify-content: center;
                padding: 2rem;
                box-sizing: border-box;
            }

            &.active {
                left: 0;
            }
            
            &-item {
                margin: 0 25px;

                @media (max-width: 992px) {
                    width: 100%;
                    text-align: center;
                    margin: 40px 0;
                }
            }

            &-link {
                font-size: 1.8rem;
                color: #fff;
                text-decoration: none;
                transition: all .3s ease-out;

                &:hover {
                    color: #f00946;
                }

                @media (max-width: 992px) {
                    font-size: 3rem;
                }

                @media (max-width: 768px) {
                    font-size: 2.6rem;
                }

                @media (max-width: 576px) {
                    font-size: 2.2rem;
                }
            }

            &-btn {
                margin-left: 25px;

                @media (max-width: 992px) {
                    width: 100%;
                    margin: 40px 0;
                }

                .btn-link {
                    text-decoration: none;;
                }

                Button {
                    
                    @media (max-width: 992px) {
                        width: 70%;
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                        font-size: 3rem;
                    }

                    @media (max-width: 768px) {
                        font-size: 2.6rem;
                    }
    
                    @media (max-width: 576px) {
                        font-size: 2.2rem;
                    }
                }
            }
        }

        .menu-icon {
            display: none;

            @media (max-width: 992px) {
                display: flex;
                align-items: center;
                font-size: 3.6rem;
                color: #f00946;
            }

            @media (max-width: 768px) {
                font-size: 3.4rem;
            }

            @media (max-width: 576px) {
                font-size: 3.2rem;
            }
        }
    }
}